.authorization-icon{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 1%;
    img{
        width: 60px;
        height: 60px;
        opacity: 0.3;
    } :hover{
        opacity: 1;
    }
}
.input-group{
    z-index: 2;
    position: fixed;
    top:0;
    left:0;
}