$authorization-icon-margin: 1%
$authorization-icon-img-width: 60px
$authorization-icon-img-height: 60px
$authorization-icon-img-opacity: 70%
// DATA IS NOT UPLOADED
.text-is-not-uploaded
    display: none
    z-index: 2
    left: 50%
    transform: translate(-50%)
    background-color: white
    position: fixed
    margin-top: 0.5%
    border-radius: 5px
    h1
        font-size: 2.5em
        padding: 0px 20px
        font-family: Cambria, "Times New Roman", serif

// RIGHT ICON
.authorization-icon
    position: fixed
    top: 0
    right: 0
    z-index: 2
    margin: $authorization-icon-margin

    img
        width: $authorization-icon-img-width
        height: $authorization-icon-img-height
        opacity: $authorization-icon-img-opacity
    &:hover
        img
            opacity: 1
    &:hover::before
        font-family: Arial, serif
        content: "Admin Page"
        position: absolute
        top: 100%
        left: 0
        background-color: #000
        color: #fff
        padding: 5px

// LEFT ICON
.choose-date-icon-div
    opacity: 70%
    margin: 0.3% 0% 0% 3%
    position: fixed
    z-index: 2
    width: $authorization-icon-img-width + 10
    height: $authorization-icon-img-height + 10
    &:hover
        opacity: 1
        cursor: pointer

    &:hover::before
        content: "select date"
        font-family: Arial, serif
        position: absolute
        top: 100%
        left: 0
        background-color: #000
        color: #fff
        padding: 5px

    img
        margin: 0
        padding: 0
        width: inherit
        height: inherit

// LIST OF DATES
.list-of-dates-div
    top: 10%
    left: 3.8%
    font-family: Helvetica, sans-serif
    position: fixed
    z-index: 999
    background-color: rgba(246, 248, 250, 0.93)
    font-size: 1.5em
    color: black
    display: none

    ul
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px

    li
        margin: 0
        padding: 10px
        list-style: none
        &:hover
            cursor: pointer
            color: #0077cc

    .choose-year
        font-size: 1em
        list-style: none
        padding: 0
        margin: 0
        display: flex
        flex-direction: column
        border-radius: 7px 0px 0px 7px

    .choose-month
        margin: 0
        padding: 0
        border-radius: 0px 7px 7px 0px
        li
            margin-left: 10px

.radius-blur-form
    position: fixed
    z-index: 1000
    left: 300px
    font-family: monospace
    font-size: 1.5em

