.text-is-not-uploaded {
  display: none;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  position: fixed;
  margin-top: 0.5%;
  border-radius: 5px;
}
.text-is-not-uploaded h1 {
  font-size: 2.5em;
  padding: 0px 20px;
  font-family: Cambria, "Times New Roman", serif;
}

.authorization-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 1%;
}
.authorization-icon img {
  width: 60px;
  height: 60px;
  opacity: 75%;
}
.authorization-icon:hover img {
  opacity: 1;
}
.authorization-icon:hover::before {
  font-family: Arial, serif;
  content: "admin page";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.choose-date-icon-div {
  opacity: 75%;
  margin: 0.3% 0% 0% 3%;
  position: fixed;
  z-index: 2;
  width: 70px;
  height: 70px;
}
.choose-date-icon-div:hover {
  opacity: 1;
  cursor: pointer;
}
.choose-date-icon-div:hover::before {
  content: "select date";
  font-family: Arial, serif;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.choose-date-icon-div img {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

.list-of-dates-div {
  top: 10%;
  left: 3.8%;
  font-family: Helvetica, sans-serif;
  position: fixed;
  z-index: 999;
  background-color: rgba(246, 248, 250, 0.93);
  font-size: 1.5em;
  color: black;
  display: none;
}
.list-of-dates-div ul {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.list-of-dates-div li {
  margin: 0;
  padding: 10px;
  list-style: none;
}
.list-of-dates-div li:hover {
  cursor: pointer;
  color: #0077cc;
}
.list-of-dates-div .choose-year {
  font-size: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 7px 0px 0px 7px;
}
.list-of-dates-div .choose-month {
  margin: 0;
  padding: 0;
  border-radius: 0px 7px 7px 0px;
}
.list-of-dates-div .choose-month li {
  margin-left: 10px;
}

.radius-blur-form {
  position: fixed;
  z-index: 1000;
  left: 300px;
  font-family: monospace;
  font-size: 1.5em;
}

.select-container {
  display: none;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: linear-gradient(95.2deg, rgb(173, 252, 234) 26.8%, rgb(192, 229, 246) 64%);
  z-index: 5;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-family: Arial, sans-serif;
}
.select-container ul {
  list-style: none;
}
.select-container ul li {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 2px 0px 0px 5px;
  margin-right: 10%;
  line-height: 1.3;
}
.select-container ul li:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
.select-container ul li:nth-last-child(2) {
  border-radius: 0px 0px 5px 5px;
}
.select-container ul li:nth-last-child(1) {
  background-color: initial;
  position: absolute;
  font-size: 1.5em;
  margin-top: 10%;
  font-weight: 600;
  margin-left: 30%;
  transform: translate(-50%, -10%);
}

.select-close-sign {
  font-family: monospace;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  transition: transform 0.25s ease-out;
}
.select-close-sign:hover {
  cursor: pointer;
  transform: rotate(-15deg);
  transition: transform 0.25s ease-out;
}

.emote-and-color-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.color-block {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin: 0 5% 2% 0;
  position: relative;
  width: 130px;
  height: 130px;
  display: inherit;
  justify-content: center;
  align-items: inherit;
  border-radius: 50%;
}

.image-block {
  width: 75px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1440px) {
  .select-container ul li:nth-last-child(1) {
    font-size: 1em;
    margin-top: 15%;
    font-weight: 600;
    margin-left: 50%;
    transform: translate(-120%, -10%);
  }
}

/*# sourceMappingURL=index_style.css.map */
