:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #3f3f3f;
  background-color: whitesmoke;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 100dvw;
  min-height: 100vh;
  position: relative;
}
