body
  background-color: floralwhite

.uploadCSV
  margin: 20px
  color: black

.buttons-panel
  display: flex
  align-items: center
  justify-content: space-evenly

.form-chose-what-to-select
  display: flex

.selectors
  display: flex
  flex-direction: column
  button
    border-style: none
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
    &:hover
      cursor: pointer
      background-color: #999999
      color: white

