/* @import "../../node_modules/ol/ol.css"; */
@import "ol/ol.css";

@import "components/Authorization/css/authorization.css";
@import "components/Map/css/map.css";
@import "components/DatasetManagmentPanel/css/datasetManagmentPanel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
